
{% extends 'base.html' %}

{% block body %}
      <div class="grid_9">            
      {% for mumbleinfo in mumblelists %}               
      
	    {% if mumbleinfo.0 %}
	      <div class="grid_3 alpha">  
		  <table cellspacing="0">
			<tr><th><a onclick="timedRefresh(1000); return true;" href="mumble://{{profile.nickname}}@icl.dyndns.org/{{mumbleinfo.0.name}}?version=1.2.0">{{mumbleinfo.0.name}} {{mumbleinfo.0.usernum}}</a></th></tr>
			    {% for player in mumbleinfo.0.userlist %}
				  <tr><td>{{player}}</tr></td>
			    {% endfor %} 
		  </table>
	      </div>
	    {% endif %}
	    
	    {% if mumbleinfo.1 %}
	      <div class="grid_3">  
		  <table cellspacing="0">
			<tr><th><a onclick="timedRefresh(1000); return true;" href="mumble://{{profile.nickname}}@icl.dyndns.org/{{mumbleinfo.1.name}}?version=1.2.0">{{mumbleinfo.1.name}} {{mumbleinfo.1.usernum}}</a></th></tr>
			    {% for player in mumbleinfo.1.userlist %}
			      <tr><td>{{player}}</tr></td>
			    {% endfor %} 
		  </table>
	      </div>	
	    {% endif %}
	    
	    {% if mumbleinfo.2 %}
	      <div class="grid_3 omega">  
		  <table cellspacing="0">
			<tr><th><a onclick="timedRefresh(1000); return true;" href="mumble://{{profile.nickname}}@icl.dyndns.org/{{mumbleinfo.2.name}}?version=1.2.0">{{mumbleinfo.2.name}} {{mumbleinfo.1.usernum}}</a></th></tr>
			    {% for player in mumbleinfo.2.userlist %}
			      <tr><td>{{player}}</tr></td>
			    {% endfor %} 
		  </table>
	      </div>		    
	    {% endif %}	   
	    
	    <div class="clear"></div>
	    <div class="grid_12">&nbsp;</div>
	    <div class="clear"></div>
      {% endfor %}
{% endblock body %}

