{% include 'header.html' %}

<body data-spy="scroll" data-target=".navbar">
    {% include 'navigation.html' %}
            
    <img id="logo" src="{{MEDIA_URL}}images/beta-ribbon.png"></img>

<!-- Modal for dialogs -->
    <div id="modal" class="modal hide fade in">
	<div class="modal-body"></div>
    </div>
      
    {% block body %}{% endblock %}
	
	
{% include 'footer.html' %} 

<!--	
	    <div class="row">
		<div class="span2">
		    <ul id="actionsmenu" class="nav nav-list navbar well well-small">

		    </ul>   
		</div>
		<div class="span10">

		    <div class="alert alert-info span9 alert-message" >		      

		    </div>		

		<div>
	    </div>
-->
	
	
