{% extends 'base.html' %}
{% load i18n %}
{% block body %}

  
<div class="container">            
    <div class="row"> <!-- ROW 12 START -->  

	
	  <div class="row">
	    <div class="span3">
		<ul id="actionsmenu" class="nav nav-list affix sidenav">
		
		    <li><a class="" href="/bets/create"><i class="icon-list"></i> Create new bet</a></li>  
		    <li><a class="" href="/bets/find"><i class="icon-remove"></i> Find bet</a></li>  	  
		    <li class="">&nbsp;</li>

		    {% if message %}  
		      <li><div class="alert alert-info alert-message">      
		      {{ message }}
		      </div></li>
		    {% endif %}
		</ul>     
	    </div>
	    <div class="span9" id="results">
		    &nbsp; 
		{% if results %}
		    <table>
			  <tr><th>Id</th><th>Type</th><th>Amount</th><th>Status</th><th>Result</th><th>Side A</th><th>Side B</th><th>Owner</th><th>Actions</th></tr>
			{% for bet in results %}      
			<tr>
			      <td>{{bet.id}}</td>
			      <td>{{bet.rarity}}</td>
			      <td>{{bet.amount}}</td>
			      
			      <td>
				  {{bet.status}}
				  {% if bet.isowner %} 
				      {% if bet.status|stringformat:"s" == "Open"  %} 
					  <br><a href="bets/close_bet/{{bet.id}}">Close Betting</a>  
					  <br><a href="bets/remove_bet/{{bet.id}}">DELETE BET</a>
				      {% endif %}
				  {% endif %}
			      </td>
			      
			      <td>
				  {{bet.result}}{% if bet.status|stringformat:"s" == "Ready"  %}
				  {% if bet.result|stringformat:"s" == "?" %}
				    <br><a href="JavaScript:winnerside('a',{{bet.id}}); return false;">Winner Side A</a>  
				    <br><a href="JavaScript:winnerside('b',{{bet.id}}); return false;">Winner Side B</a>  
				  {% endif %}{% endif %}
			      </td>
			      
			      <td>
				  {% for bidder in bet.a %}
				      {{bidder.0}}
				      {% if bidder.1|stringformat:"s" == "OK"  %}
					  -> {{bidder.1}}
				      {% endif %}				      
				      <br>
				  {% endfor %}
			      </td>
			      <td>
				  {% for bidder in bet.b %}
				      {{bidder.0}}
				      {% if bidder.1|stringformat:"s" == "OK"  %}
					  -> {{bidder.1}}
				      {% endif %}				      
				      <br>
				  {% endfor %}
			      </td>
			      <td>{{bet.owner}}</td>
			      
			      <td>
				  {% if bet.status|stringformat:"s" == "Open"  %}      
				    <a href="bets/takeside_bet/{{bet.id}}/a/">Side A</a><br>
				    <a href="bets/takeside_bet/{{bet.id}}/b/">Side B</a><br>
				    <a href="bets/cancel_bet/{{bet.id}}/">Cancel my bet</a>
				  {% endif %}
				  {% if bet.status|stringformat:"s" == "Ready"  %}
				    {% if bet.passwd %}
					<br><b>pass:{{bet.passwd}}</b>
				    {% endif %}
				  {% endif %}
			      </td>
			      
			</tr>
			{% endfor %}
		    </table>
	      {% else %}
		<p> Nothing to display here </p>
	      {% endif %}

	</div>	 
      </div>      
  </div> <!-- END ROW 12 -->
</div> <!-- END CONTAINER -->    

{% endblock body %}