<div class="modal-header">
  <h3>
	Create new bet
  </h3>
 </div>  

<div class="modal-body" id="utility_body">
      <form action="/bets/create_new/" method="POST">{% csrf_token %}	  
	  <fieldset>
	     <label for="rarity">Rarity
		  <select id="rarity" name="rarity">  
		      <option value="Common">Common</option>  
		      <option value="Uncommon">Uncommon</option>  
		      <option value="Rare">Rare</option>  
		  </select>	
	      </label> 
	      <label for="amount">Amount
		  <select id="amount" name="amount">  
		      <option value="1">1</option>  
		      <option value="2">2</option>  
		      <option value="3">3</option>  
		      <option value="4">4</option> 
		  </select>
	      </label>
		  <input type="submit" name="action" value="Create">
	</fieldset>
      </form>
</div>