{% extends 'base_help.html' %}
{% load i18n %}

{% block content %}       
      <div class="span9">
	<h4> Downloading and Installing Mumble </h4>
	<p> 
	<ul>
	  <li> Mumble is an open source, low-latency, high quality voice chat software primarily intended for use while gaming.</li>
	  <li> It works similarly to RaidCall, Teamspeak or Ventrilo.</li>
	  <li> Client could be downloaded free of charge <a href="http://sourceforge.net/projects/mumble/files/Mumble/1.2.4/mumble-1.2.4.msi/download">here</a> (15mb). </li>
	  <li> During the install process simply click on next button, you don't need any special settings</li>
	  <li> After the install is complete, put a tick next to run mumble or run it manually afterwards.</li>
	  <li> During the first launch of mumble it will run a sound setup wizard, which will guide you in setting up sound.</li>
	  <li> If other users can't hear you in mumble, you should go to settings dialog. Place a tick next to 'Advanced' on the bottom of the screen and manually adjust your Audio Input.</li>
	</ul>
	</p>
      </div>
{% endblock %}