{% extends 'base.html' %}
{% load i18n %}
  
{% block body %} 

<div class="container">            
    <div class="row"> <!-- ROW 12 START -->
	<div class="span3">
	      <ul class="nav nav-list affix sidenav">
		  <li><a href="http://sourceforge.net/projects/mumble/files/Mumble/1.2.4/mumble-1.2.4.msi/download"><i class="icon-headphones"></i> Install Mumble</a></li>
	      </ul>
	</div>
	
	<div class="span9">
	    <div class="row">
		  <div class="span9">
			      <h3>Welcome to the International Crab League</h3>
		  </div> 	  
	    </div>
	    
	    <div class="row">
		  <div class="span4">
		      <h5>Rating</h5>
		      <p>Do you want to know how good are you actually in the Game? What about your friends?</p>
		      <strong>6 years of Dota means nothing is you are shit.</strong> 
		  </div>
		  <div class="span4">

		      <h5>Communication</h5>
		      <p>Are you searching for game partners/opponents? Do you want to discuss next game strategy?</p>		  
		      <strong></strong>

		  </div>		  
		  <div class="span4">

		      <h5>Teambuilding</h5>
		      <p>Do you love playing support, but your carries can't get their farm right? Are you a carry player that is tired of supports stealing lasthits?</p>		  
		      <strong>Place where carries find willing supports.</strong>

		  </div>		  		  
		  <div class="span4"> 
		      <h5>Betting</h5>
		      <p>Ever wanted to bet who is better at mid? How certain are you, one rare, four rares?</p>		  
		      <strong>Put up or shut up.</strong>
		  </div>
	    </div>
	    <div class="row">
    
	      <div class="span9">
		  <h5> How to Join? </h5>
		  <p> In order to use the ICL you need to <a href="#">download and install mumble</a>, which is used as communication software.
		  After that you simply <a href="#">login using steam</a> OpenID and you are good to go.</p>
	      </div>
	      	      
	      <div class="span9">
		  <h5> Downloading and Installing Mumble </h5>
		  <p> </p>
	      </div>		      
	      
	      <div class="span9">
		  <h5> How do we calculate your skill? </h5>
		  <p> </p>
	      </div>
	      
	      <div class="span9">
		  <h5> How to open public match history </h5>
		  <p> </p>
	      </div>
	      
	    </div>
	    
	</div> <!-- END SPAN 10 -->

{% endblock %}



<!-- dasd 




	<div id="features">      
	    <div class="span3">
	      <div class="thumbnail">
		  <img data-src="holder.js/300x200" alt="">
		  <div class="caption">
		    <h3>Thumbnail label</h3>
		    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
		  </div>
	      </div>
	    </div>
	    
	    <div class="span3">
	      <div class="thumbnail">
		  <img data-src="holder.js/300x200" alt="">
		  <div class="caption">
		    <h3>Thumbnail label</h3>
		    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
		  </div>
	      </div>
	    </div>
	    
	    <div class="span3">
	      <div class="thumbnail">
		  <img data-src="holder.js/300x200" alt="">
		  <div class="caption">
		    <h3>Thumbnail label</h3>
		    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
		  </div>
	      </div>
	    </div>
	    <li> Install Mumble -> 		      	


-->