{% extends 'base.html' %}
{% load i18n %}
  
{% block body %} 

<div class="container">            
<!-- ROW 12 START -->
    <div class="row">
	<div class="span2">
<!--	    <ul id="actionsmenu" class="nav nav-list navbar well well-small">
		<li><a href="#statement"><i class="icon-list"></i> Welcome</a></li>  
		<li><a href="#whyicl"><i class="icon-list"></i> Why ICL</a></li>  
		<li><a href="#features"><i class="icon-list"></i> Features</a></li>  
		<li><a href="#setup"><i class="icon-list"></i> How to Join</a></li>  	
	    </ul>-->
			<div class="thumbnail">
			    <img data-src="holder.js/30x30" alt="">
			</div>    
	    
	</div>
	
	<div class="span10">
	    <div class="row"> <!-- INTERNAL ROW 10 START -->
	
		  <div id="statement">
		      <div class="span10">
			<div class="thumbnail">
			    <img data-src="holder.js/200x200" alt="">
			    <div class="caption">
			      <h3>Welcome to the International Crab League</h3>
			      <p>I hope you will find friends.</p>
			    </div>
			</div>      
		      </div>
		  <div>  
	  
	    </div> <!-- INTERNAL ROW 10 END -->
	</div> <!-- END SPAN 10 -->
    </div> <!-- END ROW 12 -->
</div> <!-- END CONTAINER -->

{% endblock %}



<!-- dasd 




	<div id="features">      
	    <div class="span3">
	      <div class="thumbnail">
		  <img data-src="holder.js/300x200" alt="">
		  <div class="caption">
		    <h3>Thumbnail label</h3>
		    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
		  </div>
	      </div>
	    </div>
	    
	    <div class="span3">
	      <div class="thumbnail">
		  <img data-src="holder.js/300x200" alt="">
		  <div class="caption">
		    <h3>Thumbnail label</h3>
		    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
		  </div>
	      </div>
	    </div>
	    
	    <div class="span3">
	      <div class="thumbnail">
		  <img data-src="holder.js/300x200" alt="">
		  <div class="caption">
		    <h3>Thumbnail label</h3>
		    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
		  </div>
	      </div>
	    </div>
	    <li> Install Mumble -> <a href="http://sourceforge.net/projects/mumble/files/Mumble/1.2.4/mumble-1.2.4.msi/download"><img src="{{MEDIA_URL}}images/mumble_logo.png"></a>		      	


-->