{% extends 'base.html' %}
{% load i18n %}

{% block body %}
<div class="container">            
    <div class="row"> <!-- ROW 12 START -->

	<div class="span12">
	    <div id="content">


        <table id="myTable" class="tablesorter">
        <thead>
        <tr><th>Nickname</th><th>Skill Rating</th><th>Extra Pts</th><th>Matches Pts</th></tr>
        </thead>
        <tbody>
        {% for player in playerslist %}
            <tr>
            <td><a href="/profile/{{player.id}}">{{player.nickname}}</a>
            </td>
            <td>{% include 'skill_template.html' with skill=player.rating.skillrating %}</td>
            <td>{{player.rating.extra_pts}}</td>
            <td>{{player.rating.matches_pts}}</td>
            </tr>
        {% endfor %}		
        </tbody></table>
            <form class="form-search" method="POST" action="/profile/check_skill">{% csrf_token %}
              <label class="control-label" for="steamid">Check friends skill by id</label>
              <input name="steamid" type="text" class="input-medium search-query">
              <button type="submit" class="btn">Check</button>
            </form>            
        </div>	
    </div>
    </div> <!-- END ROW 12 -->
</div> <!-- END CONTAINER -->  	
{% endblock body %}

