{% extends 'base.html' %}
{% load i18n %}

{% block body %}
<div class="container">            
    <div class="row"> <!-- ROW 12 START -->
	<div class="span3">
	 <ul id="actionsmenu" class="nav nav-list affix sidenav">
	    <li><a class="" href="/stacks/create"><i class="icon-list"></i> Skill rating</a></li> 
	    <li><a class="" href="/stacks/create"><i class="icon-list"></i> Global Ladder</a></li> 
	 </ul>
	</div>
	<div class="span9">
	    <div id="content">
        

<form class="form-search" method="POST" action="/profile/check_skill">{% csrf_token %}
  <label class="control-label" for="steamid">Check friends skill by id</label>
  <input name="steamid" type="text" class="input-medium search-query">
  <button type="submit" class="btn">Check</button>
</form>                
        
        <p>Player Skill Table</p>  
		<table cellspacing="0" id="ratingtable" class="table table-striped table-condensed table-bordered"><tbody>
		<tr><th>#</th><th>Nickname</th><th>Extra points</th><th>Rating</th><th>Last Updated</th></tr>
		{% for player in playerslist %}
		    <tr><td>{{forloop.counter}}</td>
		    <td><a data-toggle="modal" href="/profile/{{player.id}}/" data-target="#modal">{{player.nickname}}</a>
		    {% include 'skill_template.html' with skill=player.exp %}</td>
		    <td>{{player.extra_pts}}</td>
		    <td>{{player.rating}}</td>
		    <td></td></tr>
		{% endfor %}		
		</tbody></table>
	    </div>	
	</div>
    </div> <!-- END ROW 12 -->
</div> <!-- END CONTAINER -->  	
{% endblock body %}

