{% extends 'base.html' %}
{% load i18n %}

{% block body %} 

<div class="container">            
    <div class="row"> <!-- ROW 12 START -->
      <div class="span3">
	    <ul id="actionsmenu" class="nav nav-list affix sidenav">
<!-- 		<li class="nav-header">Stacks:</li> -->
		  <li class="divider"></li>
		<li><a class="" href="/stacks/create"><i class="icon-list"></i> Create new</a></li>  
		<li><a class="" href="/stacks/leave_current"><i class="icon-remove"></i> Leave current</a></li>  	  
<!-- 		<li class="nav-header">Mumble:</li> -->
		  <li class="divider"></li>
		<li><a href="/stacks/voice/{{profile.current_stack}}"><i class="icon-headphones"></i> {% trans "My stack Channel" %}</a></li>
		<li><a href="/stacks/voice/Flood"><i class="icon-headphones"></i> {% trans "Flood Channel" %}</a></li>
<!-- 		<li class="nav-header">Admin:</li> -->
		  <li class="divider"></li>
		<li><a class="" href="/stacks/delete_empty"><i class="icon-remove"></i> Delete empty</a></li>  
		<li><a class="" href="/stacks/kick_afk"><i class="icon-remove"></i> Kick afk</a></li>  
	    </ul>    
      </div>
      
      <div class="span9">
	  {% for stack in stacks %}
	      {% include 'stack_template.html' with stack=stack %}
	  {% endfor %}      
      </div>
    </div> <!-- END ROW 12 -->
</div> <!-- END CONTAINER -->        

{% endblock body %}


