<link href="{{MEDIA_URL}}css/style.css" rel="stylesheet" type="text/css" media="screen" />

<h2> Welcome to the International Crab League </h2>

<ul>
<li>1. Install Mumble -> <a href="http://sourceforge.net/projects/mumble/files/Mumble/1.2.4/mumble-1.2.4.msi/download"><img src="{{MEDIA_URL}}images/mumble_logo.png"/></a></p>

<li>2. Login through Steam -> <a href="{% url 'socialauth_begin' 'steam' %}"><img src="{{MEDIA_URL}}images/steamlogin.png"></a>
</ul>
<!--<p> Online Users({{ usernum }}):
{% for usr in userlist %}
  <b> {{ usr.name }} </b>
{% endfor %}
</p>-->
