<!-- START OF HEADER NAVIGATION PANEL -->
	<div class="grid_3">
	      <h3>International Crab League<br>Early Alpha</h3><br><br><br><br><br><br><br>
	</div>
	<div class="grid_9">
	      <ul id="vertical-navigation">
		  <li><a class="" href="/bets">Bets</a></li>  
		  <li><a class="" href="/stacks">Stacks</a></li>   
		  <li><a class="" href="/ratings">Ratings</a></li>      
		  <li><a class="" href="/">Tournament</a></li>
		  <li><a onclick="JavaScript:recalculateexp(); return false;" href="">{{username}}<span class="exp" id="exp">{{exp}}</span></a></li>
		  <li><a class="" href="/logout">Logout</a></li>
	      </ul>  
	</div>
    <div class="grid_9"><p id="placeholder">&nbsp;</p><p id="loading" style="display: none; border: 0px solid #666; text-align: center;">Please wait while we recalculate your experience. ~30sec <-> 1min</p></div>
<!-- END OF HEADER NAVIGATION PANEL -->