<link href="{{MEDIA_URL}}css/reset.css" rel="stylesheet" type="text/css"/>
<link href="{{MEDIA_URL}}css/960.css" rel="stylesheet" type="text/css"/>
<link href="{{MEDIA_URL}}css/style.css" rel="stylesheet" type="text/css"/>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js" type="text/javascript"></script>
    
<script type="text/javascript">

$.ajax({
    type: "GET",
    url: "/matchmaking/getplayerexp",

    async: true,  /* If set to non-async, browser shows page as "Loading.." */
    cache: false,
    timeout: 30000, /* Timeout in ms */
    dataType: 'json',
    
    success: function(data)
    {	   
	document.getElementById("exp").innerHTML = data.exp;
    }    
});    

// $.ajax({
//     type: "GET",
//     url: "/matchmaking/getchannelsinfo",
// 
//     async: true,  /* If set to non-async, browser shows page as "Loading.." */
//     cache: false,
//     timeout: 30000, /* Timeout in ms */
//     dataType: 'json',
//     
//     success: function(data)
//     {	   
// 	  for (var i=0;i<data.length;i++)
// 	  { 
// 		var div = document.createElement('div');
// 		document.getElementById("channelsinfo").innerHTML = "";
// 	  }
//     }    
// });    

function timedRefresh(timeoutPeriod){
      setTimeout("location.reload(true);", timeoutPeriod);
}

  
$(function() {
      /* For zebra striping */
      $("table tr:nth-child(odd)").addClass("odd-row");
      /* For cell text alignment */
      $("table td:first-child, table th:first-child").addClass("first");
      /* For removing the last border */
      $("table td:last-child, table th:last-child").addClass("last");
});

</script>    

<div class="container_12">
	<div class="grid_3"><h3>International Crab League</h3></div>
	<div class="grid_9">
	      <ul id="vertical-navigation">
		  <li><a class="" href="/">Ratings</a></li>      
		  <li><a class="" href="/">Tournament</a></li>
		  <li><a><span>{{ username }} <span class="exp" id="exp">?</span></span></a></li>
		  <li><a class="" href="/logout">Logout</a></li>
	      </ul>  
	</div>
	
	<div class="clear"></div> 
	
	<div id="channelsinfo" class="grid_12">	
	    {% for channelinfo in mumbleinfo %}
		    <table cellspacing="0" style="float: left;">
			  <tr><th><a onclick="timedRefresh(1000); return true;" href="mumble://{{username}}@icl.dyndns.org/{{channelinfo.name}}?version=1.2.0">{{channelinfo.name}} {{channelinfo.usernum}}/5</a></th></tr>
			      {% for player in channelinfo.userlist %}
				<tr><td>{{player}}</tr></td>
			      {% endfor %} 
		      </table>  
	    {% endfor %}

	</div>
	<div class="clear"></div>
	
	<div class="grid_12">
	
		  <div id="content">

		      <table cellspacing="0">
		      <tr><th>Nickname</th><th>Exp</th><th>Rating</th></tr>
		      <tr><td>Korzh</td><td>502</td><td>0</td></tr>
		      </table>

		  </div>	
	
	</div>
	
	<div class="clear"></div>
<!-- end of container_12 -->
</div> 


<!--<script type="text/javascript">
   function getmatch(){
        $.ajax({
            type: "GET",
            url: "/matchmaking/getmatch",

            async: true,  /* If set to non-async, browser shows page as "Loading.." */
            cache: false,
            timeout:5000, /* Timeout in ms */

            success: function(data)
            {
		if (data["HTTPRESPONSE"] != 1)
		{
		    alert("your lobby"+data["lobby"]); 
		}
		else
		{
		    alert("no ready yes, polling again");            
		    setTimeout(waitForMsg, 5000);
		}
            }
        });
    };

   function startsearch(){

        setTimeout(getmatch, 5000)        
    };
</script>  -->  