
{% include 'header.html' %}

<div class="container_12">
	{% include 'navigation.html' %}
	{% for mumbleinfo in mumblelists %}
	    <div id="channelsinfo" class="grid_12"><p>&nbsp;</p></div>	        
	    <div class="clear"></div> 
	    {% for channelinfo in mumbleinfo %}
		{% if channelinfo %}
		<div id="channelsinfo" class="grid_3 push_3">  
		    <table cellspacing="0" style="float: left;">
			  <tr><th><a onclick="timedRefresh(1000); return true;" href="mumble://{{username}}@icl.dyndns.org/{{channelinfo.name}}?version=1.2.0">{{channelinfo.name}} {{channelinfo.usernum}}/5</a></th></tr>
			      {% for player in channelinfo.userlist %}
				<tr><td>{{player}}</tr></td>
			      {% endfor %} 
		      </table>  
		  </div>
		  {% endif%}
		  
	    {% endfor %}
	    <div class="clear"></div>			    
	{% endfor %}    
	<div class="clear"></div>
</div> <!-- end of container_12 -->