
{% include 'header.html' %}


<div id="container" class="container_12">

      <div class="grid_3">  
	    <p>ICL</p>
      </div>

      <div class="grid_9">
	    <p>Website Pages List</p>
      </div>  

      <div class="grid_12">  
	    <p>Custom Status Message</p>
      </div>      
            
      <div class="grid_9">
      
	    <div class="grid_3 alpha">  
		  <p>Stack<br>Stack<br>Stack<br>Stack<br>Stack<br>Stack<br></p>
	    </div>	    
	    <div class="grid_3">  
		  <p>Stack<br>Stack<br>Stack<br>Stack<br>Stack<br>Stack<br></p>
	    </div>	
	    <div class="grid_3 omega">  
		  <p>Stack<br>Stack<br>Stack<br>Stack<br>Stack<br>Stack<br></p>
	    </div>		    
	    
      </div>
      
      <div class="grid_3">  
	    <p>Actions Menu</p>
      </div>      
</div> <!-- end of container_12 -->



<!--
			{% for mumbleinfo in mumblelists %}
				  {% for channelinfo in mumbleinfo %}
					    {% if channelinfo %}
<table cellspacing="0" style="float: left;">
      <tr><th><a onclick="timedRefresh(1000); return true;" href="mumble://{{username}}@icl.dyndns.org/{{channelinfo.name}}?version=1.2.0">{{channelinfo.name}} {{channelinfo.usernum}}/5</a></th></tr>
	  {% for player in channelinfo.userlist %}
	    <tr><td>{{player}}</tr></td>
	  {% endfor %} 
					    {% endif %}  
				  {% endfor %}
			{% endfor %}	  
</table>  -->