body {
	background: #E0E0E0;
	background-size: 100%;
	overflow: visible;
}

h2 {
	font: 70px Tahoma, Helvetica, Arial, Sans-Serif;
	text-align: center;
	color: #222;
	text-shadow: 0px 2px 3px #555;	
}

h3 {
	padding-top:4px;
	padding-bottom:4px;
	padding-left:15px;
	padding-right:15px;
	margin:auto;
	
	font-size: 1.0em;
	text-align: center;
	color: #666;
}

.exp {
	vertical-align:middle;
	background: #bbb;
	padding: 2px 4px 2px 4px;

	-webkit-box-shadow: 0px 1px 2px #555;
	-moz-box-shadow: 0px 1px 2px #555;    	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

#content_part {
  	background: #F0F0F0;
	height: 100%;
}

#overlay {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     background-color:rgba(50,50,50,0.5);
     text-align:center;
     z-index: 1000;
/*      background-image:url(background-trans.png); */
}

#overlay div {
     width:600px;
     margin: 300px auto;
     background-color: #fff;
     border:1px solid #000;
     padding:15px;
     text-align:center;
}


#profile {
/* 	text-transform: uppercase; */
	font-size: 1.2em;
	color: #666;
}

#profile a {
	text-decoration: none;  
	color: #666;
}











/* Vertical Navigation */
#vertical-navigation { 
	list-style: none; 
	margin: 0; 
	padding: 0;
	font-size: 1.2em;
	float: right;
	position: relative
}

/* CSS for each Parent Item */
#vertical-navigation li {float: left; position: relative;}

#vertical-navigation li a 
{
	float: left;
	display: block;
	padding: 4px;
	text-decoration: none;
	color: #666;
	text-transform: uppercase;
	margin-right: 10px;
}

/* 
Change background color and font color 
of parent items when mouse hover 
*/
#vertical-navigation li:hover a,
#vertical-navigation li a:hover
{
	background: #999;
	color: #fff;	
}

/* 
Apply to group of Child Items
Each Child Item will be invisible by default
*/
#vertical-navigation ul {display: none;}

/* Each Child Item will be visible if mouse hover */
#vertical-navigation li:hover ul {display: block;}

#vertical-navigation ul
{
	float: none;
	position: absolute;
	list-style: none;
	margin: 0;
	padding: 0;
	top: 1.8em;
	left: 0;
}

#vertical-navigation ul li
{
	float: none;
	clear: none;
	margin: 0;
	padding: 0;
	width: auto;
	color: #999;
}

/* 
Reset and re style 
link of each child item
*/
#vertical-navigation li:hover ul li a,
#vertical-navigation ul li a
{
	line-height: 200%;
	display: block;
	padding: 0 6px 0 0;
	float: none;
	text-transform: lowercase;
	color: #999;
	background: none;
}

#vertical-navigation li:hover ul li a:hover,
#vertical-navigation ul li a:hover
{
	background: none;
	color: #000;
}


/* Vertical Navigation */
#vertical-navigation { 
	list-style: none; 
	margin: 0; 
	padding: 0;
	font-size: 1.2em;
	float: right;
	position: relative
}

/* CSS for each Parent Item */
#vertical-navigation li {float: left; position: relative;}

#vertical-navigation li a 
{
	float: left;
	display: block;
	padding: 4px;
	text-decoration: none;
	color: #666;
	text-transform: uppercase;
	margin-right: 10px;
}

/* 
Change background color and font color 
of parent items when mouse hover 
*/
#vertical-navigation li:hover a,
#vertical-navigation li a:hover
{
	background: #999;
	color: #fff;	
}

/* 
Apply to group of Child Items
Each Child Item will be invisible by default
*/
#vertical-navigation ul {display: none;}

/* Each Child Item will be visible if mouse hover */
#vertical-navigation li:hover ul {display: block;}

#vertical-navigation ul
{
	float: none;
	position: absolute;
	list-style: none;
	margin: 0;
	padding: 0;
	top: 1.8em;
	left: 0;
}

#vertical-navigation ul li
{
	float: none;
	clear: none;
	margin: 0;
	padding: 0;
	width: auto;
	color: #999;
}

/* 
Reset and re style 
link of each child item
*/
#vertical-navigation li:hover ul li a,
#vertical-navigation ul li a
{
	line-height: 200%;
	display: block;
	padding: 0 6px 0 0;
	float: none;
	text-transform: lowercase;
	color: #999;
	background: none;
}

#vertical-navigation li:hover ul li a:hover,
#vertical-navigation ul li a:hover
{
	background: none;
	color: #000;
}




	
/*
Pretty Table Styling
*/

table {
	overflow:hidden;
	border:1px solid #d3d3d3;
	background:#fefefe;
	
	-moz-border-radius:5px; /* FF1+ */
	-webkit-border-radius:5px; /* Saf3-4 */
	border-radius:5px;
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
	
th, td {padding:0px 14px 0px; text-align:center;}

th {padding-top:4px; text-shadow: 1px 1px 1px #fff; background:#e8eaeb;}
	
td {border-top:1px solid #e0e0e0; border-right:1px solid #e0e0e0;}
	
tr.odd-row td {background:#f6f6f6;}
	
td.first, th.first {text-align:left}
	
td.last {border-right:none;}
	
/*
Background gradients are completely unnecessary but a neat effect.
*/
	
td {
	background: -moz-linear-gradient(100% 25% 90deg, #fefefe, #f9f9f9);
	background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f9f9f9), to(#fefefe));
}
	
tr.odd-row td {
	background: -moz-linear-gradient(100% 25% 90deg, #f6f6f6, #f1f1f1);
	background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f1f1f1), to(#f6f6f6));
}
	
th {
	background: -moz-linear-gradient(100% 20% 90deg, #e8eaeb, #ededed);
	background: -webkit-gradient(linear, 0% 0%, 0% 20%, from(#ededed), to(#e8eaeb));
}
	
/*
I know this is annoying, but we need additional styling so webkit will recognize rounded corners on background elements.  Nice write up of this issue: http://www.onenaught.com/posts/266/css-inner-elements-breaking-border-radius

And, since we've applied the background colors to td/th element because of IE, Gecko browsers also need it.
*/
	
tr:first-child th.first {
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px; /* Saf3-4 */
}
	
tr:first-child th.last {
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px; /* Saf3-4 */
}
	
tr:last-child td.first {
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px; /* Saf3-4 */
}
	
tr:last-child td.last {
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px; /* Saf3-4 */
}