body {
	background: #474747 url('http://icl.dyndns.org/media/images/bg.png');
	overflow: visible;
}

h2 {
	font: 70px Tahoma, Helvetica, Arial, Sans-Serif;
	text-align: center;
	color: #222;
	text-shadow: 0px 2px 3px #555;	
}

img {
	vertical-align:middle;
}

#userblock{
    display: table-cell;    
}

.userblock {
   font-family:Arial;
   font-size:12px;
   text-decoration: none;
   padding:5px;
   color:#ffffff;
   display: inline-block;
   float: left;
   
   background-color: #333333;   
   border-bottom:1px;
   border-bottom-color:#000000;
   border-bottom-style:solid;
  
/*	margin: 0;
	padding: 0;
	display: inline-block;
	float: right;
	height: 32px;

	color: #fff;	
	font-size: 20px;		
/* 	background: #222;	 */
/*
   background-color: #333333;   
   border-bottom:1px;
   border-bottom-color:#000000;
   border-bottom-style:solid;*/

/* 	text-shadow: 0px 2px 3px #171717;	 */
	
	
	
  /*-webkit-box-shadow: 0px 2px 3px #555;
  -moz-box-shadow: 0px 2px 3px #555;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;*/
}

.exp {
	display: inline-block;
	vertical-align:middle;
	background: #6c6e74;
    	padding: 0 5px 0 5px;
	
	-webkit-box-shadow: 0px 1px 2px #555;
	-moz-box-shadow: 0px 1px 2px #555;    	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}




#nav
{
    padding:0;
}
#nav li 
{
    display:inline;
}
#nav li a 
{   
   font-family:Arial;
   font-size:12px;
   text-decoration: none;
   padding:11px;
   color:#ffffff;
   
   margin-left: 3px;
   
   background-color: #333333;   
   border-bottom:1px;
   border-bottom-color:#000000;
   border-bottom-style:solid;
}
#nav li a:hover 
{
   background-color:#9B1C26;
   margin:-1px;
   
   padding-bottom:12px;
   border-bottom:2px;
   border-bottom-color:#000000;
   border-bottom-style:solid;
}

