body {
	background: #eee;
/* 	url('http://icl.dyndns.org/media/images/background1.jpg') */
	background-size: 100%;
	overflow: visible;
}

h2 {
	font: 70px Tahoma, Helvetica, Arial, Sans-Serif;
	text-align: center;
	color: #222;
	text-shadow: 0px 2px 3px #555;	
}

h3 {
/* 	display:inline-block;  */
	padding-top:11px;
	padding-bottom:11px;
	padding-left:15px;
	padding-right:15px;
	margin:auto;
	width:50%;
	
	font: 15px Tahoma, Helvetica, Arial, Sans-Serif;
	text-align: center;
	color: #aaa;
	text-shadow: 0px 2px 3px #555;	
}

img {
	vertical-align:middle;
}

.exp {
	vertical-align:middle;
	background: #bbb;
	padding: 2px 4px 2px 4px;

	-webkit-box-shadow: 0px 1px 2px #555;
	-moz-box-shadow: 0px 1px 2px #555;    	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}



#content {
	position: relative;
	margin: 0 auto;
	width: 950px;
	top: 80px;
	height: 520px;
}


/* Vertical Navigation */
#vertical-navigation { 
	list-style: none; 
	margin: 0; 
	padding: 0;
	font-size: 1.2em;
	float: right;
	position: relative}


/* CSS for each Parent Item */
#vertical-navigation li {float: left; position: relative;}

#vertical-navigation li a 
{
	float: left;
	display: block;
	padding: 4px;
	text-decoration: none;
	color: #666;
	text-transform: uppercase;
	margin-right: 10px;
}

/* 
Change background color and font color 
of parent items when mouse hover 
*/
#vertical-navigation li:hover a,
#vertical-navigation li a:hover
{
	background: #999;
	color: #fff;	
}

/* 
Applie to group of Child Items
Each Child Item will be invisible by default
*/
#vertical-navigation ul {display: none;}

/* Each Child Item will be visible if mouse hover */
#vertical-navigation li:hover ul {display: block;}

#vertical-navigation ul
{
	float: none;
	position: absolute;
	list-style: none;
	margin: 0;
	padding: 0;
	top: 1.8em;
	left: 0;
}

#vertical-navigation ul li
{
	float: none;
	clear: none;
	margin: 0;
	padding: 0;
	width: auto;
	color: #999;
}

/* 
Reset and re style 
link of each child item
*/
#vertical-navigation li:hover ul li a,
#vertical-navigation ul li a
{
	line-height: 200%;
	display: block;
	padding: 0 6px 0 0;
	float: none;
	text-transform: lowercase;
	color: #999;
	background: none;
}

#vertical-navigation li:hover ul li a:hover,
#vertical-navigation ul li a:hover
{
	background: none;
	color: #000;
}











